#contacts {
	width: 750px;
	margin: 0 auto;
}

#contacts h1 {
	text-align: center;
	font-size: 27px;
}

#contact-form {
	width: 270px;
	text-align: center;
	margin: 0 auto;
}

#contacts #contact-form h2 {
	text-align: center;
	font-size: 18px;
}

#googleMap {
	width: 600px;
	height: 350px;
	margin: 0 auto;
	margin-top: 30px;
}